        h1 {
            color: red;
        }

        p {
            color: green;
        }

        section h3 {
            color: pink;
        }

        h3 {
            color: greenyellow;
        }
        body {
            background: #fff;
        }

        .red_background {
            background: red;
        }