        h1 {
            color: red;
        }


        section h3 {
            color: pink;
        }

        h3 {
            color: yellow;
        }
        body {
            background: #fff;
        }

        .red_background {
            background: red;
        }